:root {
  /* typography */
  --fontFamily: inter, system-ui, sans-serif;
  --fontSize: 11px;
  --lineHeight: 16px;
  --fontWeight-default: 400; /* regular */
  --fontWeight-tab-active: 600; /* semi bold */
  --fontWeight-tab-inactive: 500; /* medium */
  --fontWeight-title: 600; /* semi bold */
  --fontWeight-button: 500; /* medium */
  --fontWeight-snackbar: 600; /* semi bold */

  /* color */
  --color-bg: white;
  --color-snackbarBg: #222;
  --color-modalBg: rgba(0, 0, 0, 0.5);
  --color-segmentedControlBg: #e4e4e4;
  --color-iconButtonBg: rgba(0, 0, 0, 0.06);
  --color-selectBg: #f0f0f0;
  --color-selectBg-component: #daebf7;
  --color-text: #333;
  --color-alert: #f04629;
  --color-active: #18a0fb;
  --color-inactive: #b3b3b3;
  --color-border: #e5e5e5;
  --color-component: #7b61ff;
  --color-buttonBorder: rgba(0, 0, 0, 0.8);

  /* radius */
  --radius-default: 2px;
  --radius-snackbar: 5px;
  --radius-button: 6px;

  /* shadow */
  --shadow: 0 0 0.5px rgba(0, 0, 0, 0.2), 0 2px 14px rgba(0, 0, 0, 0.15);

  /* transition */
  --transition: all 150ms ease-out;

  /* spacing */
  --spacing-default: 16px;
  --spacing-text: 8px;
  --spacing-list: 6px;
  --spacing-bottom: 12px;

  /* size */
  --height-row-default: 40px;
  --height-row-small: 32px;

  /* z-index */
  --zIndex-search: 3;
  --zIndex-documentTitle: 2;
  --zIndex-pageTitle: 1;
  --zIndex-options: 4;
  --zIndex-dialog: 100;
  --zIndex-snackbar: 101;
}
